In [1]:
import pandas as pd;

In [8]:
df = pd.read_csv("carAccidents2011.csv", header = 0);

In [9]:
print(df)

                     State Atmospheric Condition  Crash Date  \
0                   Alaska                 Clear  2011-01-05
1                   Alaska                 Clear  2011-01-05
2                  Arizona                 Clear  2011-01-01
3                  Arizona                 Clear  2011-01-01
4                  Arizona                 Clear  2011-01-01
5                 Arkansas                 Clear  2011-01-02
6                 Colorado                 Clear  2011-01-02
7              Connecticut                 Clear  2011-01-01
8                 Delaware                Cloudy  2011-01-04
9                 Delaware                Cloudy  2011-01-04
10    District of Columbia                 Clear  2011-01-14
11    District of Columbia                 Clear  2011-01-14
12                 Florida                  Rain  2011-01-01
13                 Florida                  Rain  2011-01-01
14                 Georgia      Fog, Smog, Smoke  2011-01-01
15                 Georgia      Fog, Smog, Smoke  2011-01-01
16                  Hawaii                 Clear  2011-01-01
17                  Hawaii                 Clear  2011-01-01
18                  Hawaii                 Clear  2011-01-01
19                   Idaho                 Clear  2011-01-02
20                   Idaho                 Clear  2011-01-02
21                   Idaho                 Clear  2011-01-02
22                Illinois                 Clear  2011-01-01
23                 Indiana                  Rain  2011-01-01
24                  Kansas                 Clear  2011-01-02
25                  Kansas                 Clear  2011-01-02
26                Kentucky                 Clear  2011-01-01
27                Kentucky                 Clear  2011-01-01
28                Kentucky                 Clear  2011-01-01
29                Kentucky                 Clear  2011-01-01
...                    ...                   ...         ...
4969              Arkansas                  Rain  2011-03-08
4970              Delaware                 Clear  2011-09-26
4971               Georgia                 Clear  2011-01-29
4972               Georgia                 Clear  2011-01-29
4973                Hawaii                Cloudy  2011-09-11
4974                Hawaii                Cloudy  2011-09-11
4975              Illinois                 Clear  2011-02-19
4976               Indiana                 Clear  2011-02-18
4977                Kansas                 Clear  2011-03-18
4978                Kansas                 Clear  2011-03-18
4979              Kentucky                Cloudy  2011-02-18
4980              Kentucky                Cloudy  2011-02-18
4981              Maryland                 Clear  2011-03-25
4982              Maryland                 Clear  2011-03-25
4983              Maryland                 Clear  2011-03-25
4984         Massachusetts                  Snow  2011-02-24
4985         Massachusetts                  Snow  2011-02-24
4986           Mississippi                 Clear  2011-02-19
4987           Mississippi                 Clear  2011-02-19
4988              Nebraska                 Clear  2011-06-23
4989                Nevada                 Clear  2011-05-08
4990                Nevada                 Clear  2011-05-08
4991                Nevada                 Clear  2011-05-08
4992         New Hampshire                 Clear  2011-11-15
4993         New Hampshire                 Clear  2011-11-15
4994            New Jersey                 Clear  2011-01-31
4995              New York                  Snow  2011-01-21
4996        North Carolina                 Clear  2011-01-16
4997          North Dakota                 Clear  2011-08-27
4998                  Ohio                  Rain  2011-03-05

      Fatalities in crash                              Roadway  Age  \
0                       1  Rural-Principal Arterial-Interstate   27
1                       1  Rural-Principal Arterial-Interstate   60
2                       1       Urban-Other Principal Arterial   24
3                       1       Urban-Other Principal Arterial   27
4                       1       Urban-Other Principal Arterial   82
5                       1                 Rural-Minor Arterial   40
6                       1           Rural-Local Road or Street   17
7                       1           Urban-Local Road or Street   22
8                       1       Urban-Other Principal Arterial    4
9                       1       Urban-Other Principal Arterial   20
10                      2           Urban-Local Road or Street   20
11                      2           Urban-Local Road or Street   31
12                      1                 Urban-Minor Arterial    5
13                      1                 Urban-Minor Arterial   70
14                      1           Urban-Local Road or Street   23
15                      1           Urban-Local Road or Street   24
16                      2                 Rural-Minor Arterial    0
17                      2                 Rural-Minor Arterial   19
18                      2                 Rural-Minor Arterial   26
19                      1  Rural-Principal Arterial-Interstate   22
20                      1  Rural-Principal Arterial-Interstate   23
21                      1  Rural-Principal Arterial-Interstate   25
22                      1                 Urban-Minor Arterial   27
23                      1           Rural-Local Road or Street   25
24                      2       Rural-Principal Arterial-Other   25
25                      2       Rural-Principal Arterial-Other   61
26                      2       Urban-Other Principal Arterial    7
27                      2       Urban-Other Principal Arterial   18
28                      2       Urban-Other Principal Arterial   20
29                      2       Urban-Other Principal Arterial   28
...                   ...                                  ...  ...
4969                    1       Urban-Other Principal Arterial   52
4970                    1                 Urban-Minor Arterial   39
4971                    1           Rural-Local Road or Street   45
4972                    1           Rural-Local Road or Street   49
4973                    1       Urban-Other Principal Arterial   25
4974                    1       Urban-Other Principal Arterial   65
4975                    2  Urban-Principal Arterial-Interstate    9
4976                    1                      Urban-Collector   93
4977                    1       Rural-Principal Arterial-Other   16
4978                    1       Rural-Principal Arterial-Other   26
4979                    1                 Rural-Minor Arterial   40
4980                    1                 Rural-Minor Arterial   66
4981                    1       Urban-Other Principal Arterial   51
4982                    1       Urban-Other Principal Arterial   51
4983                    1       Urban-Other Principal Arterial   56
4984                    2  Urban-Principal Arterial-Interstate   17
4985                    2  Urban-Principal Arterial-Interstate   18
4986                    1           Urban-Local Road or Street   23
4987                    1           Urban-Local Road or Street   49
4988                    1       Urban-Other Principal Arterial   49
4989                    2  Rural-Principal Arterial-Interstate    1
4990                    2  Rural-Principal Arterial-Interstate   32
4991                    2  Rural-Principal Arterial-Interstate   45
4992                    1           Rural-Local Road or Street   21
4993                    1           Rural-Local Road or Street   24
4994                    1                 Urban-Minor Arterial   44
4995                    1                 Urban-Minor Arterial   30
4996                    1       Urban-Other Principal Arterial   81
4997                    1       Urban-Other Principal Arterial   50
4998                    1                Rural-Minor Collector   24

      Alcohol Results                                Person Type  \
0                0.00     Driver of a Motor Vehicle In-Transport
1                0.00     Driver of a Motor Vehicle In-Transport
2                 NaN  Passenger of a Motor Vehicle In-Transport
3                0.00     Driver of a Motor Vehicle In-Transport
4                0.00                                 Pedestrian
5                0.00     Driver of a Motor Vehicle In-Transport
6                0.00     Driver of a Motor Vehicle In-Transport
7                0.21     Driver of a Motor Vehicle In-Transport
8                 NaN  Passenger of a Motor Vehicle In-Transport
9                0.21     Driver of a Motor Vehicle In-Transport
10                NaN     Driver of a Motor Vehicle In-Transport
11               0.10     Driver of a Motor Vehicle In-Transport
12                NaN  Passenger of a Motor Vehicle In-Transport
13                NaN     Driver of a Motor Vehicle In-Transport
14                NaN  Passenger of a Motor Vehicle In-Transport
15               0.03     Driver of a Motor Vehicle In-Transport
16                NaN  Passenger of a Motor Vehicle In-Transport
17                NaN  Passenger of a Motor Vehicle In-Transport
18                NaN     Driver of a Motor Vehicle In-Transport
19               0.00     Driver of a Motor Vehicle In-Transport
20                NaN  Passenger of a Motor Vehicle In-Transport
21                NaN  Passenger of a Motor Vehicle In-Transport
22               0.00     Driver of a Motor Vehicle In-Transport
23               0.09     Driver of a Motor Vehicle In-Transport
24                NaN     Driver of a Motor Vehicle In-Transport
25               0.00     Driver of a Motor Vehicle In-Transport
26                NaN  Passenger of a Motor Vehicle In-Transport
27               0.00  Passenger of a Motor Vehicle In-Transport
28                NaN  Passenger of a Motor Vehicle In-Transport
29               0.12     Driver of a Motor Vehicle In-Transport
...               ...                                        ...
4969             0.00     Driver of a Motor Vehicle In-Transport
4970              NaN     Driver of a Motor Vehicle In-Transport
4971              NaN  Passenger of a Motor Vehicle In-Transport
4972             0.28     Driver of a Motor Vehicle In-Transport
4973             0.00     Driver of a Motor Vehicle In-Transport
4974              NaN  Passenger of a Motor Vehicle In-Transport
4975              NaN  Passenger of a Motor Vehicle In-Transport
4976             0.00     Driver of a Motor Vehicle In-Transport
4977             0.00     Driver of a Motor Vehicle In-Transport
4978              NaN     Driver of a Motor Vehicle In-Transport
4979              NaN  Passenger of a Motor Vehicle In-Transport
4980              NaN  Passenger of a Motor Vehicle In-Transport
4981             0.14     Driver of a Motor Vehicle In-Transport
4982              NaN     Driver of a Motor Vehicle In-Transport
4983              NaN     Driver of a Motor Vehicle In-Transport
4984             0.00  Passenger of a Motor Vehicle In-Transport
4985              NaN  Passenger of a Motor Vehicle In-Transport
4986              NaN                                 Pedestrian
4987              NaN     Driver of a Motor Vehicle In-Transport
4988              NaN     Driver of a Motor Vehicle In-Transport
4989              NaN  Passenger of a Motor Vehicle In-Transport
4990              NaN     Driver of a Motor Vehicle In-Transport
4991              NaN  Passenger of a Motor Vehicle In-Transport
4992             0.00     Driver of a Motor Vehicle In-Transport
4993              NaN  Passenger of a Motor Vehicle In-Transport
4994              NaN     Driver of a Motor Vehicle In-Transport
4995              NaN     Driver of a Motor Vehicle In-Transport
4996              NaN     Driver of a Motor Vehicle In-Transport
4997             0.13     Driver of a Motor Vehicle In-Transport
4998             0.26     Driver of a Motor Vehicle In-Transport

     Drug Involvement     Race  Gender                        Injury Severity  \
0                 Yes      NaN    Male  Non-incapacitating Evident Injury (B)
1                  No    White  Female                       Fatal Injury (K)
2        Not Reported      NaN  Female                          No Injury (O)
3                  No      NaN    Male                          No Injury (O)
4                  No  Unknown  Female                       Fatal Injury (K)
5        Not Reported    White    Male                       Fatal Injury (K)
6                  No    White  Female                       Fatal Injury (K)
7        Not Reported    White    Male                       Fatal Injury (K)
8        Not Reported      NaN  Female  Non-incapacitating Evident Injury (B)
9                 Yes    White    Male                       Fatal Injury (K)
10       Not Reported      NaN    Male  Non-incapacitating Evident Injury (B)
11                 No    White    Male                       Fatal Injury (K)
12       Not Reported      NaN    Male  Non-incapacitating Evident Injury (B)
13       Not Reported    White  Female                       Fatal Injury (K)
14       Not Reported      NaN    Male              Incapacitating Injury (A)
15            Unknown    Black    Male                       Fatal Injury (K)
16       Not Reported      NaN  Female                          No Injury (O)
17       Not Reported      NaN  Female  Non-incapacitating Evident Injury (B)
18       Not Reported      NaN    Male  Non-incapacitating Evident Injury (B)
19                 No      NaN  Female  Non-incapacitating Evident Injury (B)
20       Not Reported    Black  Female                       Fatal Injury (K)
21       Not Reported      NaN    Male  Non-incapacitating Evident Injury (B)
22       Not Reported    White    Male                       Fatal Injury (K)
23                Yes    Black    Male                       Fatal Injury (K)
24                 No      NaN  Female  Non-incapacitating Evident Injury (B)
25                 No    White    Male                       Fatal Injury (K)
26       Not Reported      NaN  Female  Non-incapacitating Evident Injury (B)
27       Not Reported    White    Male                       Fatal Injury (K)
28       Not Reported      NaN    Male  Non-incapacitating Evident Injury (B)
29       Not Reported    White    Male                       Fatal Injury (K)
...               ...      ...     ...                                    ...
4969               No      NaN    Male              Incapacitating Injury (A)
4970     Not Reported      NaN  Female                          No Injury (O)
4971               No      NaN  Female                    Possible Injury (C)
4972               No    White    Male                       Fatal Injury (K)
4973          Unknown    White    Male                       Fatal Injury (K)
4974     Not Reported      NaN  Female                          No Injury (O)
4975               No      NaN  Female              Incapacitating Injury (A)
4976               No    White    Male                       Fatal Injury (K)
4977               No      NaN    Male              Incapacitating Injury (A)
4978               No      NaN  Female  Non-incapacitating Evident Injury (B)
4979     Not Reported      NaN    Male  Non-incapacitating Evident Injury (B)
4980     Not Reported    White    Male                       Fatal Injury (K)
4981     Not Reported    White    Male                       Fatal Injury (K)
4982               No      NaN    Male  Non-incapacitating Evident Injury (B)
4983               No      NaN    Male  Non-incapacitating Evident Injury (B)
4984     Not Reported    White    Male                       Fatal Injury (K)
4985     Not Reported      NaN    Male  Non-incapacitating Evident Injury (B)
4986               No    White    Male                       Fatal Injury (K)
4987               No      NaN    Male                          No Injury (O)
4988               No      NaN  Female                          No Injury (O)
4989     Not Reported      NaN  Female                    Possible Injury (C)
4990               No      NaN    Male                    Possible Injury (C)
4991     Not Reported      NaN    Male                    Possible Injury (C)
4992              Yes    White    Male                       Fatal Injury (K)
4993     Not Reported      NaN    Male                          No Injury (O)
4994     Not Reported      NaN    Male  Non-incapacitating Evident Injury (B)
4995     Not Reported      NaN  Female                          No Injury (O)
4996               No      NaN  Female                    Possible Injury (C)
4997          Unknown    White    Male                       Fatal Injury (K)
4998               No    White    Male                       Fatal Injury (K)

      Crash Date.year  Crash Date.month  Crash Date.day-of-month  \
0                2011                 1                        5
1                2011                 1                        5
2                2011                 1                        1
3                2011                 1                        1
4                2011                 1                        1
5                2011                 1                        2
6                2011                 1                        2
7                2011                 1                        1
8                2011                 1                        4
9                2011                 1                        4
10               2011                 1                       14
11               2011                 1                       14
12               2011                 1                        1
13               2011                 1                        1
14               2011                 1                        1
15               2011                 1                        1
16               2011                 1                        1
17               2011                 1                        1
18               2011                 1                        1
19               2011                 1                        2
20               2011                 1                        2
21               2011                 1                        2
22               2011                 1                        1
23               2011                 1                        1
24               2011                 1                        2
25               2011                 1                        2
26               2011                 1                        1
27               2011                 1                        1
28               2011                 1                        1
29               2011                 1                        1
...               ...               ...                      ...
4969             2011                 3                        8
4970             2011                 9                       26
4971             2011                 1                       29
4972             2011                 1                       29
4973             2011                 9                       11
4974             2011                 9                       11
4975             2011                 2                       19
4976             2011                 2                       18
4977             2011                 3                       18
4978             2011                 3                       18
4979             2011                 2                       18
4980             2011                 2                       18
4981             2011                 3                       25
4982             2011                 3                       25
4983             2011                 3                       25

In [11]:
print list(df.columns.names);

[None]

In [12]:
print len(df);

4999

In [15]:
print df.iloc[0];

State                                                      Alaska
Atmospheric Condition                                       Clear
Crash Date                                             2011-01-05
Fatalities in crash                                             1
Roadway                       Rural-Principal Arterial-Interstate
Age                                                            27
Alcohol Results                                                 0
Person Type                Driver of a Motor Vehicle In-Transport
Drug Involvement                                              Yes
Race                                                          NaN
Gender                                                       Male
Injury Severity             Non-incapacitating Evident Injury (B)
Crash Date.year                                              2011
Crash Date.month                                                1
Crash Date.day-of-month                                         5
Crash Date.day-of-week                                          3
Name: 0, dtype: object

In [17]:
print df.isnull().values.sum();

5455

In [18]:
print df["State"].isnull().values.sum();

0

In [19]:
print df["Atmospheric Condition"].isnull().values.sum();

0

In [20]:
print df["Crash Date"].isnull().values.sum();

0

In [21]:
print df["Fatalities in crash"].isnull().values.sum();

0

In [22]:
print df["Roadway"].isnull().values.sum();

0

In [23]:
print df.iloc[0];

State                                                      Alaska
Atmospheric Condition                                       Clear
Crash Date                                             2011-01-05
Fatalities in crash                                             1
Roadway                       Rural-Principal Arterial-Interstate
Age                                                            27
Alcohol Results                                                 0
Person Type                Driver of a Motor Vehicle In-Transport
Drug Involvement                                              Yes
Race                                                          NaN
Gender                                                       Male
Injury Severity             Non-incapacitating Evident Injury (B)
Crash Date.year                                              2011
Crash Date.month                                                1
Crash Date.day-of-month                                         5
Crash Date.day-of-week                                          3
Name: 0, dtype: object

In [24]:
print df["Age"].isnull().values.sum();

70

In [25]:
print df["Race"].isnull().values.sum();

2679

In [26]:
print df["Alcohol Results"].isnull().values.sum();

2706

In [27]:
print df["Injury Severity"];

0       Non-incapacitating Evident Injury (B)
1                            Fatal Injury (K)
2                               No Injury (O)
3                               No Injury (O)
4                            Fatal Injury (K)
5                            Fatal Injury (K)
6                            Fatal Injury (K)
7                            Fatal Injury (K)
8       Non-incapacitating Evident Injury (B)
9                            Fatal Injury (K)
10      Non-incapacitating Evident Injury (B)
11                           Fatal Injury (K)
12      Non-incapacitating Evident Injury (B)
13                           Fatal Injury (K)
14                  Incapacitating Injury (A)
15                           Fatal Injury (K)
16                              No Injury (O)
17      Non-incapacitating Evident Injury (B)
18      Non-incapacitating Evident Injury (B)
19      Non-incapacitating Evident Injury (B)
20                           Fatal Injury (K)
21      Non-incapacitating Evident Injury (B)
22                           Fatal Injury (K)
23                           Fatal Injury (K)
24      Non-incapacitating Evident Injury (B)
25                           Fatal Injury (K)
26      Non-incapacitating Evident Injury (B)
27                           Fatal Injury (K)
28      Non-incapacitating Evident Injury (B)
29                           Fatal Injury (K)
                        ...
4969                Incapacitating Injury (A)
4970                            No Injury (O)
4971                      Possible Injury (C)
4972                         Fatal Injury (K)
4973                         Fatal Injury (K)
4974                            No Injury (O)
4975                Incapacitating Injury (A)
4976                         Fatal Injury (K)
4977                Incapacitating Injury (A)
4978    Non-incapacitating Evident Injury (B)
4979    Non-incapacitating Evident Injury (B)
4980                         Fatal Injury (K)
4981                         Fatal Injury (K)
4982    Non-incapacitating Evident Injury (B)
4983    Non-incapacitating Evident Injury (B)
4984                         Fatal Injury (K)
4985    Non-incapacitating Evident Injury (B)
4986                         Fatal Injury (K)
4987                            No Injury (O)
4988                            No Injury (O)
4989                      Possible Injury (C)
4990                      Possible Injury (C)
4991                      Possible Injury (C)
4992                         Fatal Injury (K)
4993                            No Injury (O)
4994    Non-incapacitating Evident Injury (B)
4995                            No Injury (O)
4996                      Possible Injury (C)
4997                         Fatal Injury (K)
4998                         Fatal Injury (K)
Name: Injury Severity, dtype: object

In [28]:
df.info();

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4999 entries, 0 to 4998
Data columns (total 16 columns):
State                      4999 non-null object
Atmospheric Condition      4999 non-null object
Crash Date                 4999 non-null object
Fatalities in crash        4999 non-null int64
Roadway                    4999 non-null object
Age                        4929 non-null float64
Alcohol Results            2293 non-null float64
Person Type                4999 non-null object
Drug Involvement           4999 non-null object
Race                       2320 non-null object
Gender                     4999 non-null object
Injury Severity            4999 non-null object
Crash Date.year            4999 non-null int64
Crash Date.month           4999 non-null int64
Crash Date.day-of-month    4999 non-null int64
Crash Date.day-of-week     4999 non-null int64
dtypes: float64(2), int64(5), object(9)
memory usage: 663.9+ KB

In [35]:
df.Age[df.Age.notnull()].sum();

In [37]:
df.Age[df.Age.notnull()].sum()

190300.0

In [38]:
df.Age[df.Age.notnull()].describe()

count    4929.000000
mean       38.608237
std        20.305162
min         0.000000
25%        22.000000
50%        36.000000
75%        53.000000
max        98.000000
Name: Age, dtype: float64

In [43]:
import numpy as np

In [44]:
df.Age.fillna(np.random.normal(38.60,20.30),inplace=True)

In [45]:
df.Age[df.Age.notnull()].describe()

count    4999.000000
mean       38.925615
std        20.337632
min         0.000000
25%        22.000000
50%        36.000000
75%        53.500000
max        98.000000
Name: Age, dtype: float64

In [46]:
print df["Age"].isnull().values.sum()

0

In [47]:
df.Age.describe()

count    4999.000000
mean       38.925615
std        20.337632
min         0.000000
25%        22.000000
50%        36.000000
75%        53.500000
max        98.000000
Name: Age, dtype: float64

In [48]:
from bokeh.plotting import figure, output_notebook,show,vplot

In [49]:
print df["Atmospheric Condition"]

0                  Clear
1                  Clear
2                  Clear
3                  Clear
4                  Clear
5                  Clear
6                  Clear
7                  Clear
8                 Cloudy
9                 Cloudy
10                 Clear
11                 Clear
12                  Rain
13                  Rain
14      Fog, Smog, Smoke
15      Fog, Smog, Smoke
16                 Clear
17                 Clear
18                 Clear
19                 Clear
20                 Clear
21                 Clear
22                 Clear
23                  Rain
24                 Clear
25                 Clear
26                 Clear
27                 Clear
28                 Clear
29                 Clear
              ...
4969                Rain
4970               Clear
4971               Clear
4972               Clear
4973              Cloudy
4974              Cloudy
4975               Clear
4976               Clear
4977               Clear
4978               Clear
4979              Cloudy
4980              Cloudy
4981               Clear
4982               Clear
4983               Clear
4984                Snow
4985                Snow
4986               Clear
4987               Clear
4988               Clear
4989               Clear
4990               Clear
4991               Clear
4992               Clear
4993               Clear
4994               Clear
4995                Snow
4996               Clear
4997               Clear
4998                Rain
Name: Atmospheric Condition, dtype: object

In [50]:
df.Embarked.unique()

AttributeError: 'DataFrame' object has no attribute 'Embarked'

In [51]:
df["Atmospheric Condition"].unique()

array(['Clear', 'Cloudy', 'Rain', 'Fog, Smog, Smoke', 'Snow',
       'Blowing Snow', 'Sleet, Hail (Freezing Rain or Drizzle)',
       'Not Reported', 'Blowing Sand, Soil, Dirt', 'Unknown',
       'Severe Crosswinds', 'Other'], dtype=object)

In [53]:
df.groupby('Age')["Atmospheric Condition"].count()

Age
0      17
1      25
2      33
3      17
4      27
5      24
6      18
7      24
8      22
9      26
10     18
11     28
12     25
13     20
14     31
15     49
16     90
17    102
18    156
19    147
20    121
21    154
22    121
23    117
24    124
25     92
26     99
27     86
28     93
29     87
     ...
67     28
68     23
69     44
70     28
71     25
72     28
73     19
74     21
75     30
76     16
77     26
78     19
79     23
80     25
81     18
82     25
83     12
84     17
85     14
86     14
87     13
88     13
89      6
90     11
91      4
92      6
93      6
94      1
97      1
98      1
Name: Atmospheric Condition, dtype: int64

In [57]:
h = sorted(df["Age"])

In [55]:
import scipy.stats as stats

In [58]:
pdf = stats.norm.pdf(h, np.mean(h), np.std(h))

In [59]:
p = figure(title="Age histogram", x_axis_label='Age', y_axis_label='Counts')

In [61]:
p.vplot(h, pdf)

AttributeError: 'Figure' object has no attribute 'vplot'

In [62]:
hist, edges = np.histogram(df['Age'], density=True, bins=50)

In [63]:
x = np.linspace(df['Age'].min(), df['Age'].max(),100)

In [64]:
p.quad(top = hist*len(df['Age']), bottom = 0, left = edges[:-1], right = edges[1:], line_color = 'black')

In [65]:
show(vplot(p))

In [66]:
from bokeh.plotting import figure, output_file, show

In [67]:
output_file("age.hist")

In [68]:
show(p)

In [69]:
output_file('age.html')

In [71]:
show(p)